<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="/static/css/styles.css" />
        <script src="/static/js/vendor/jquery-1.10.2.min.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <!-- midi.js package -->
        <script src="/static/js/vendor/MIDI/AudioDetect.js" type="text/javascript"></script>
        <script src="/static/js/vendor/MIDI/LoadPlugin.js" type="text/javascript"></script>
        <script src="/static/js/vendor/MIDI/Plugin.js" type="text/javascript"></script>
        <script src="/static/js/vendor/MIDI/Player.js" type="text/javascript"></script>
        <script src="/static/js/vendor/MIDIWindow/DOMLoader.XMLHttp.js" type="text/javascript"></script>
        <script src="/static/js/vendor/MIDIWindow/DOMLoader.script.js" type="text/javascript"></script>
        <script src="/static/js/vendor/MIDIinc/Base64.js" type="text/javascript"></script>
        <script src="/static/js/vendor/MIDIinc/base64binary.js" type="text/javascript"></script>

        <script src="/static/js/interface.js"></script>
    </head>
    <body>
        <div class="content">
            <h1>Keytar Hero</h1>
            <ul>
                <li>Your team has to play a chord.</li>
                <li>You can only play one note at a time.</li>
                <li><strong>Press and hold</strong>.</li>
                <li>Your team must play the chord before the timer runs out.</li>
            </ul>
            <p class="gamestatus">Waiting for server response...</p>
            <div class="notes">
                <span data-note="60" class="nonoffset">C</span>
                <span data-note="61" class="sharps">C#</span>
                <span data-note="62">D</span>
                <span data-note="63" class="sharps">Eb</span>
                <span data-note="64">E</span>
                <span data-note="65" class="nonoffset">F</span>
                <span data-note="66" class="sharps">F#</span>
                <span data-note="67">G</span>
                <span data-note="68" class="sharps">G#</span>
                <span data-note="69">A</span>
                <span data-note="70" class="sharps">Bb</span>
                <span data-note="71">B</span>
                <span data-note="72" class="nonoffset">C</span>
            </div>
        </div>
    </body>
</html>
