span {
    display: block;
    position: relative;
    margin-top: 50px;
    min-height: 250px;
    margin-left: -25px;
    width: 50px;
    border: 3px solid black;
    text-align: center;
    float: left;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.sharps {
    min-height: 200px;
    margin-top: 0;
    background-color: black;
    color: white;
    z-index: 10;
}

span.nonoffset {
    margin-left: 5px;
}

.content {
    margin-left: auto;
    margin-right: auto;
    max-width: 960px;
}

.myNote {
    background-color: #ff5;
}

.theirNote {
    background-color: #5ff;
}

.gamestatus {
    border-radius: 10px;
    border: 1px solid blue;
    background: #99f;
    padding: 10px;
}

